* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {  
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 2fr 1.5fr 1.5fr 1.5fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo menu menu"
      "banner banner banner"
      "producto1 producto1 producto1"
      "producto2 Producto2 Producto2"
      "producto3 producto3 producto3"
      "footer footer footer";
  }
  
  .logo { 
    grid-area: logo;
    justify-items: left;
 }
  
 /* ------------- MENU NAVEGABLE GENERAL -------------*/
  .menu { 
    grid-area: menu;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #005733;
}

.encabezado__menu__lista li {
        display: inline;
        color: white;
        font-size: 20px;
        font-weight: bold;
        width: 20px;
        height: 20px;
        padding: 10px;
        margin: 5px;
        border: 1px;

        
        
}
  
  .banner { grid-area: banner; }
  
  .producto1 { grid-area: producto1; }
  
  .producto2 { grid-area: producto2; }
  
  .producto3 { grid-area: producto3; }
  
  .footer { 
    grid-area: footer;
    background-color: #005733;
    color: #ffffff;
    font-size: 20px;
    text-align: center; 

}
  

h1 {
    color: #005733;
    background-color: white;
    padding: 50px;
}

ul {
    list-style-type: none;
    text-align: center;
}

/* -------- HEADER GRAL -------*/

.encabezado {
    background-color: #005733;
}







/* -------- MENU GRAL --------*/

.menu {
    display: block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    
    
    

}



.encabezado__menu__lista a {
    text-decoration: none;
    font-weight: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 100px;
    padding: 0px;
    margin: 5px;
    border: 1px 
    ;
}



/*---------- PAGINA NOSOTROS ----------*/

.nosotros {
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.nosotros__quienessomos {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: #005733;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------- MAIN FAQS -------*/

.pregfaqs {
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
    color: #005733;
}

.pregfaqs__preg {
    font-size: 25px;
}

.pregfaqs_resp {
    font-size: 20px;
}

.faqs {
    padding: 20px;
}

/* ----------- PAGINA INDEX ----------*/
.colchones {

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block; width: 33%;
}

.colchones__descripcion {
    text-decoration: dashed;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #005733;
}



/*---------- PAGINA PRODUCTOS ----------*/

.princ__prod__cambio{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #005733;
    font-family: 'Times New Roman', Times, serif;
}

.productos{
    
}



/* -------- PAGINA CONTACTO -------*/
.formulario {
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 15px;
    color: #005733;
    font-family: Arial, Helvetica, sans-serif;
}

.dudas {
    color: #005733;
    font-family: Arial, Helvetica, sans-serif;

}

/* ------- FOOTER ------- */

.footer {
    
    
    
    
    background-color: #005733;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer__redes {
    display: flex;
    justify-items: right;
    font-size: 25px;
    padding: 20px;
    
}

.diryderechos {
    display: flex;
    justify-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

